<!DOCTYPE html>
<html>
    <head>
        <title>
            Contacts

        </title>
    </head>
    <body>
        <form method="POST" style="background-color: yellow;height: 200px;width: 200px;">
            NAME: <input type="text" name="name">
            <br>
            PHONE: <input type="text" name="phone_number">
            <br>
            <br>
            <input type="submit" value="Save">
            <br>
            <br>
            {{result['status']}}
        </form>    
    </body>
</html>
